<% include header.ejs %> 
<div class="container-fluid">
  <h1 class="mt-4">Tìm dữ liệu</h1>
  <form action="/tim" method="POST">
    <input type="text" name="tenmh" placeholder="Nhập tên mặt hàng cần tìm kiếm">
    <button type="submit">Tìm dữ liệu</button>
  </form>
</div>  
<% include footer.ejs  %> 